<ion-view title="Login" hide-nav-bar="true" id="page4" class='login-page'>
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll='false'>

        <div class='padding logo'>
            <h1>titulo</h1>
        </div>

        <span class='error-message' ng-show='loginCtrl.error'> {{loginCtrl.error}} </span>

        <form id="login-form1" class="list">
            <ion-list id="login-list1">
                <label class="item item-input" id="login-input1">
                    <input type="email" placeholder="Digite seu email" ng-model='loginCtrl.user.email'>
                </label>
                <label class="item item-input" id="login-input2">
                    <input type="password" placeholder="Digite a senha" ng-model='loginCtrl.user.password'>
                </label>
                <label class="item item-input" id="login-input3" ng-show="loginCtrl.signingUp">
                    <input type="password" placeholder="Digite novamente a senha"  ng-model='loginCtrl.user.password2'>
                </label>
            </ion-list>

            
            <div>
                <button id="login-button1" class="button button-balanced  button-block action-button"
                            ng-click='loginCtrl.login()'>
                        {{ loginCtrl.signingUp ? 'Cadastrar' : 'Entrar'}}
                </button>     
            </div>
                
            <div class='padding signup-opt'
                    ng-click="loginCtrl.signingUp = !loginCtrl.signingUp">
                {{ loginCtrl.signingUp ? 'Já possui uma conta? Entre agora!' : 'Ainda não tem uma conta? Cadastre-se!'}}
            </div>
        </form>
    </ion-content>
</ion-view>