<ion-view title="Professores" id="page2">
    <ion-content padding="true" class="has-header">
        <form id="professores-form3" class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Procurar professores">
            </label>
            <div class="spacer" style="width: 300px; height: 25px;"></div>
        </form>


        <span ng-show='professoresCtrl.errorMessage'>{{professoresCtrl.errorMessage}}</span>

        <div class="list card" ng-repeat='professor in professoresCtrl.professores'>

            <div class="item" style="padding:30px;">
                <img class='item-professor-avatar' src="{{professor.photoURL}}" style="margin-right:25px;">

                <h2 style='text-align: center; margin-top: 10px;'>{{professor.displayName}}</h2>
                <rating style='text-align: center;'
                        ng-model="professor.avaliacoes.didatica" max="professoresCtrl.rating.max" 
                        readonly="professoresCtrl.rating.readOnly"></rating>

                <!-- Curriculo -->
                <!--div  style='word-wrap: break-word; text-align: center; margin-top: 20px;'
                        class='item item-body'>
                <p style="margin-top:0px; margin-bottom:0px;">
                    <i class="icon ion-university">
                        {{professor.curriculo.formacao.graduacao.status}} 
                        {{professor.curriculo.formacao.graduacao.curso}} 
                        na {{professor.curriculo.formacao.graduacao.instituicao}}
                    </i>
                </p>
                </div-->
            </div>

            <div class="item item-body">
                <!-- Faculdade -->
                <p style="margin-top:0px; margin-bottom:0px;font-size:14px;">
                    <i class="icon ion-university">
                        {{professor.curriculo.formacao.graduacao.status}} 
                        {{professor.curriculo.formacao.graduacao.curso}} 
                        na {{professor.curriculo.formacao.graduacao.instituicao}}
                    </i>
                </p>
                <!-- Aulas que ensina -->
                <p style="margin-top:0px; margin-bottom:0px;font-size:14px;">
                    <i class="icon ion-easel">
                        Ensina 
                        <item ng-repeat='materia in professor.materias.resumo'>{{materia}}, </item>
                    </i>
                </p>
                <p  style="margin-top:0px; margin-bottom:0px;font-size:14px;">
                Sobre: {{professor.curriculo.sobre}}
                </p>
            </div>

        </div>


        <!--div class='list'>
            <ion-list>
                <ion-item ng-repeat="professor in professoresCtrl.professores">
                    <a class="item item-thumbnail-left" href="#">
                          <img src="{{professoresCtrl.professores[0].photoURL}}">
                          <h2>Pretty Hate Machine</h2>
                          <p>Nine Inch Nails</p>
                        </a>
                <!/ion-item>
                <i>dsdaad</li>
            </ion-list-->
        </div>
    </ion-content>
</ion-view>

<!--a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a-->