<ion-view title="Login" hide-nav-bar="true" id="page4" class='login-page'>
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <form id="login-form1" class="list">
            <div class="spacer" style="height: 100px;"></div>
            <h1 id="login-heading1" style="color:#FFFFFF;font-weight:600;text-align:center;">Heading</h1>
            <ion-list id="login-list1">
                <label class="item item-input" id="login-input1">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input" id="login-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="menu.home" id="login-button1" class="button button-balanced  button-block">Log in</a>
            <a ui-sref="signup" id="login-button4" style="color:#387EF5;" class="button button-light  button-block">Or create an account</a>
        </form>
    </ion-content>
</ion-view>