<ion-view title="Login" hide-nav-bar="true" id="page4" class='login-page'>
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll='false'>

        <div class='padding logo'>
            <h1>titulo</h1>
        </div>

        <form id="login-form1" class="list">
            <ion-list id="login-list1">
                <label class="item item-input" id="login-input1">
                    <input type="email" placeholder="Digite seu email">
                </label>
                <label class="item item-input" id="login-input2">
                    <input type="password" placeholder="Digite a senha">
                </label>
            </ion-list>
            <div>
                <button ui-sref="menu.home" id="login-button1" 
                        class="button button-balanced  button-block action-button">
                        {{ form.signingUp ? 'Cadastrar' : 'Entrar'}}
                </button>    
            </div>
            <div class='padding signup-opt'
                    ng-click="form.signingUp = !form.signingUp">
                {{ form.signingUp ? 'Já possui uma conta? Entre agora!' : 'Ainda não tem uma conta? Cadastre-se!'}}
            </div>
        </form>
    </ion-content>
</ion-view>

<!--ion-view view-title="Songhop" hide-hav-bar="true" class="splash-page">
    <ion-content scroll="false">

    <div class='padding logo'>
        <h1>songhop</h1>
    </div>

    <div class='login-form'>
        <div class='card'>
            <div class='list'>
                <label class='item item-input'>
                    <input type="text" 
                            ng-model="form.username" 
                            placeholder="Enter your {{ form.signingUp? 'desired' : 'songhop' }} username">
                </label>
            </div>
        </div>

        <div class='padding-left padding-right'>
            <button class='button button-block action-button'
                    ng-class="{'button-positive': !form.signingUp, 'button-balanced': form.signingUp}"
                    ng-click='submitForm(form.username, form.signingUp)'>
                {{ form.signingUp ? 'Sign up' : 'Sign in'}}
            </button>
        </div>
    </div>

    <div class='padding signup-opt'
            ng-click="form.signingUp = !form.signingUp">
        {{ form.signingUp ? 'Have an account? Sign in!' : 'Need an account? Sign Up!'}}
    </div>

    </ion-content>
</ion-view-->